
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<body style="background-image:url(../../resim/gri-arka-plan.jpg)">
    <h1></h1>
    <div class="section">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="secim">
        <div class="btn-group" role="group" aria-label="Third group" style="font-weight:800; background-color:aliceblue;">
            <div class="container">
                <div class="row">
                    <div class="text-center col-md-6 col-12 col-xl-12">
                        <div class="container" style="border-block:groove;">
                            <p style="font-size:20px;">Belediye başkanlığı seçiminde oy kullanmak için aşağıdaki tuşa basınız.</p>
                            <a class="btn btn-danger btn-lg" href="/Loginhome/secimlerbelediye" target="_blank" role="button">Git</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secim">
                <div class="btn-group" role="group" aria-label="Third group" style="font-weight:800;">
                    <div class="container">
                        <div class="row">
                            <div class="text-center col-md-6 col-12 col-xl-12">
                                <div class="container" style="border-block:groove;">
                                    <p style="font-size:20px;">Milletvekilliği seçiminde oy kullanmak için aşağıdaki tuşa basınız.</p>
                                    <a class="btn btn-danger btn-lg" href="/Loginhome/secimlermillet" target="_blank" role="button">Git</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    
