
@{
    ViewBag.Title = "oyverildi";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="text-center">Belediye baskanlik seçim onayi.</h1>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Oyunuzu Kullandınız!</h4>
                    <p>Oyunuzu verdiğiniz için teşekkür ederiz.</p>
                    <a class="btn btn-danger btn-lg" href="/loginhome" role="button">Anasayfa</a>
                </div>
            </div>
            </div>
        </div>

</div>