
@{
    ViewBag.Title = "profil";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- Database -->

<link href="~/booststrap/css/profil.css" rel="stylesheet" id="bootstrap-css">
<body style="background-image:url(../../resim/gri-arka-plan.jpg)">
    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/resim/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 style="border:groove;">Turab Sezal</h4>
                                    <p class="text-secondary mb-1" style="border:groove;">Yazılım mühendisliği öğrencisi</p>
                                    <p class="text-muted font-size-sm" style="border:groove;">Kahramanmaraş/Türkiye</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" style="border:groove;">İsim</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Hüseyin Turab Sezal
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" style="border:groove;">Mail</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    192802028@ogr.cbu.edu.tr
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" style="border:groove;">Telefon</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    (239) 816-9029
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" style="border:groove;">Adres</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Ordan burdan şurdan
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
</body>