<!DOCTYPE html>
<html lang="tr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>e-seçim</title>

    <!-- font-awesome -->
    <link href="/booststrap/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/booststrap/css/bootstrap.css" rel="stylesheet">
    <!-- custom CSS -->
    <link href="/booststrap/css/style.css" rel="stylesheet">
</head>



<body>


    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </button>

                <a class="navbar-brand" href=" /Loginhome/Index">e-seçim</a>
            </div>



            </button>
            </input>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/loginhome">Ana Sayfa</a></li>
                    <li class="dropdown">
                </ul>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->

    </nav>



    @RenderBody()


</body>

</html>

