
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";

}
<div >
    <!-- Video -->
    <video width="100%" controls autoplay loop muted>
        <source src="~/resim/Cyber Security Animation.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>
    <div class="item active">
        <div class="fill"></div>
        <div class="carousel-caption">

        </div>
    </div>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="block-icon">
                    <i class="fa fa-rocket"></i>
                </div>

                <div class="block-body">
                    <h2>Zamandan kazanç</h2>
                    <div class="line-subtitle"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="block-icon">
                    <i class="fa fa-users"></i>
                </div>

                <div class="block-body">
                    <h2>Daha güvenli bir sistem</h2>
                    <div class="line-subtitle"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="block-icon">
                    <i class="fa fa-cog"></i>
                </div>

                <div class="block-body">
                    <h2>Artık daha kolay</h2>
                    <div class="line-subtitle"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                </div>
            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.section -->